
my_dir="/home/gvaumour/Dev/parsec-3.0/pkgs/"

declare -a benchs=("raytrace" "streamcluster" "swaptions" "vips" "x264" "freqmine")


declare -a directories=( $my_dir"apps/raytrace/run" \
$my_dir"kernels/streamcluster/run" \
$my_dir"apps/swaptions/run" \
$my_dir"apps/vips/run" \
$my_dir"apps/x264/run" \
$my_dir"apps/freqmine/run")

declare -a cmd_medium=( $my_dir"apps/raytrace/inst/amd64-linux.gcc-pthreads/bin/rtview happy_buddha.obj -automove -nthreads 4 -frames 3 -res 960 540" \
$my_dir"kernels/streamcluster/inst/amd64-linux.gcc-pthreads/bin/streamcluster 10 20 64 8192 8192 1000 none output.txt 4" \
$my_dir"apps/swaptions/inst/amd64-linux.gcc-pthreads/bin/swaptions -ns 32 -sm 20000 -nt 4" \
$my_dir"apps/vips/inst/amd64-linux.gcc-pthreads/bin/vips im_benchmark vulture_2336x2336.v output.v" \
$my_dir"apps/x264/inst/amd64-linux.gcc-pthreads/bin/x264 --quiet --qp 20 --partitions b8x8,i4x4 --ref 5 --direct auto --b-pyramid --weightb --mixed-refs --no-fast-pskip --me umh --subme 7 --analyse b8x8,i4x4 --threads 4 -o eledream.264 eledream_640x360_32.y4m" \
$my_dir"apps/freqmine/inst/amd64-linux.gcc-openmp/bin/freqmine kosarak_500k.dat 410 4" )
